# connection

In [1]:
import bcrypt
import mysql.connector
from datetime import date, datetime
import pandas as pd

# Konfigurasi koneksi ke database
db_config = {
    "host": "localhost",
    "user": "root",
    "password": "",
    "database": "accounting"  # Nama database
}

# Koneksi ke database
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

# tampilkan data pembukuan kas

In [2]:
# Membaca data dari tabel cash_books
query = "SELECT * FROM cash_books"
df = pd.read_sql(query, conn)

# Menampilkan DataFrame
df.head()

C:\Users\nhaid\AppData\Local\Temp\ipykernel_48116\1198447056.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,id,transaction_date,document_number,description,type,amount,reference,created_at,updated_at,deleted_at,account_estimate_id,funding_source_id,payment_type_id,organizational_unit_id
0,1,2025-05-30,DOC-001,Pengeluaran untuk biaya operasional #1,out,4115942,None,2025-06-23 00:44:48,2025-06-23 00:44:48,None,1,3,1,2
1,2,2025-06-02,DOC-002,Penerimaan kas dari penjualan #2,in,5926294,None,2025-06-23 00:44:48,2025-06-23 00:44:48,None,1,3,1,2
2,3,2025-05-30,DOC-003,Pengeluaran untuk biaya operasional #3,out,9831240,None,2025-06-23 00:44:48,2025-06-23 00:44:48,None,1,3,3,1
3,4,2025-05-26,DOC-004,Penerimaan kas dari penjualan #4,in,6608158,None,2025-06-23 00:44:48,2025-06-23 00:44:48,None,3,3,3,1
4,5,2025-06-01,DOC-005,Pengeluaran untuk biaya operasional #5,out,9226623,None,2025-06-23 00:44:48,2025-06-23 00:44:48,None,2,2,1,1